$clr-gray: #f2f2f2;
$clr-dark: #090a0f;
$clr-accent-dark: #001437;
$clr-accent-light: #56bdda;

$ff-primary: 'Geometric Slabserif 712';
$ff-secondary: 'Work Sans', sans-serif;

$sm: 576px; // 600
$md: 768px; // 960
$lg: 992px; // 1280
$xl: 1170px; // 1920
$xxl: 1350px;

@font-face {
	font-family: 'Geometric Slabserif 712';
	src: url('/fonts/GeometricSlabserif712-Light.eot');
	src: local('Geometric Slabserif 712 Light'),
		local('/fonts/GeometricSlabserif712-Light'),
		url('/fonts/GeometricSlabserif712-Light.eot?#iefix')
			format('embedded-opentype'),
		url('/fonts/GeometricSlabserif712-Light.woff2') format('woff2'),
		url('/fonts/GeometricSlabserif712-Light.woff') format('woff'),
		url('/fonts/GeometricSlabserif712-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Geometric Slabserif 712';
	src: url('/fonts/GeometricSlabserif712-LtIt.eot');
	src: local('Geometric Slabserif 712 Lt It'),
		local('GeometricSlabserif712-LtIt'),
		url('/fonts/GeometricSlabserif712-LtIt.eot?#iefix')
			format('embedded-opentype'),
		url('/fonts/GeometricSlabserif712-LtIt.woff2') format('woff2'),
		url('/fonts/GeometricSlabserif712-LtIt.woff') format('woff'),
		url('/fonts/GeometricSlabserif712-LtIt.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Geometric Slabserif 712';
	src: url('/fonts/GeometricSlabserif712-Medium.eot');
	src: local('Geometric Slabserif 712 Medium'),
		local('GeometricSlabserif712-Medium'),
		url('/fonts/GeometricSlabserif712-Medium.eot?#iefix')
			format('embedded-opentype'),
		url('/fonts/GeometricSlabserif712-Medium.woff2') format('woff2'),
		url('/fonts/GeometricSlabserif712-Medium.woff') format('woff'),
		url('/fonts/GeometricSlabserif712-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Geometric Slabserif 712';
	src: url('/fonts/GeometricSlabserif712-ExtBd.eot');
	src: local('Geometric Slabserif 712 ExtBd'),
		local('GeometricSlabserif712-ExtBd'),
		url('/fonts/GeometricSlabserif712-ExtBd.eot?#iefix')
			format('embedded-opentype'),
		url('/fonts/GeometricSlabserif712-ExtBd.woff2') format('woff2'),
		url('/fonts/GeometricSlabserif712-ExtBd.woff') format('woff'),
		url('/fonts/GeometricSlabserif712-ExtBd.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Geometric Slabserif 712';
	src: url('/fonts/GeometricSlabserif712-Bold.eot');
	src: local('Geometric Slabserif 712 Bold'),
		local('GeometricSlabserif712-Bold'),
		url('/fonts/GeometricSlabserif712-Bold.eot?#iefix')
			format('embedded-opentype'),
		url('/fonts/GeometricSlabserif712-Bold.woff2') format('woff2'),
		url('/fonts/GeometricSlabserif712-Bold.woff') format('woff'),
		url('/fonts/GeometricSlabserif712-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Geometric Slabserif 712';
	src: url('/fonts/GeometricSlabserif712-MedIta.eot');
	src: local('Geometric Slabserif 712 Med Ita'),
		local('GeometricSlabserif712-MedIta'),
		url('/fonts/GeometricSlabserif712-MedIta.eot?#iefix')
			format('embedded-opentype'),
		url('/fonts/GeometricSlabserif712-MedIta.woff2') format('woff2'),
		url('/fonts/GeometricSlabserif712-MedIta.woff') format('woff'),
		url('/fonts/GeometricSlabserif712-MedIta.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}
